body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 1210px) {
  .App {
    width: 1200px;
  }
}

/* 650px 이하일 때 */
@media (max-width: 1210px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* Font */
@font-face {
  font-family: "UhBeeJJIBBABBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Header */
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LeftHeader a {
  text-decoration: none;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo > h2 {
  font-family: "UhBeeJJIBBABBA";
  font-size: 50px;
  color: black;
}

.Logo img {
  width: 100.82px;
  height: 126.88px;
}

.NavBar {
  font-size: 20px;
  font-family: "UhBeeJJIBBABBA";
  font-weight: bolder;

  padding-right: 20px;

  display: flex;
  gap: 10px;
}

.NavBar a {
  text-decoration: none;
  color: black;
}

.NavBar a.active {
  color: #4db8ff;
  border-bottom: 2px solid;
}

.NavBar :hover {
  color: #4db8ff;
  border-bottom: 2px solid;
}

/* Footer */
.Footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 100px;
}

.Footer a {
  color: black;
  text-decoration: none;
}

.Footer .copyright {
  color: gray;
}

.Footer .copyright .project_title {
  font-family: "UhBeeJJIBBABBA";
}

.Footer .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.Footer .right .name {
  font-family: "KyoboHandwriting2021sjy";
}

.Footer .right .text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "KyoboHandwriting2021sjy";
}

.Footer .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.Footer .head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Footer .head span {
  font-size: 20px;
  font-weight: bold;
  font-family: "UhBeeJJIBBABBA";
}

.Footer img {
  width: 30px;
  height: 30px;
}

.Footer .link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Footer .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Footer .left .description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "KyoboHandwriting2021sjy";
}

/* MyButton */

.MyButton {
  border: 0;
  border-radius: 8px;
  cursor: pointer;

  white-space: nowrap;
  font-family: "UhBeeJJIBBABBA";
  font-size: 15px;
  padding: 10px 15px;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_default:hover {
  background-color: #e2e2e2;
  color: black;
}

.MyButton_positive {
  background-color: #a7d7e8;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

.MyButton_positive:hover {
  background-color: #79cbe9;
  color: white;
}

.MyButton_negative:hover {
  background-color: #ff2833;
  color: white;
}
